<header>
    <div class="title">Les petits plats dans l'écran</div>
    <nav>
        <ul>
            <li><a href="{{ path('plat_index') }}">Plats</a></li>
            <li><a href="{{ path('category_index') }}">Catégories</a></li>
        </ul>
    </nav>
</header>